In [1]:
A=["Bhushan Borse","Male","Student"]
B=["9166","TYBSc","B"]

tuple(A)

('Bhushan Borse', 'Male', 'Student')

In [2]:
tuple(B)

('9166', 'TYBSc', 'B')

In [4]:
a=('Bhushan','Borse','Male','Student')

In [5]:
b=('9166','TYBSC','B')

In [6]:
a

('Bhushan', 'Borse', 'Male', 'Student')

In [7]:
print(type(a))

<class 'tuple'>

In [8]:
print(a[:3])

('Bhushan', 'Borse', 'Male')

In [9]:
print(a[2:])

('Male', 'Student')

In [10]:
print(a[3])

Student

In [11]:
print(a[:2])

('Bhushan', 'Borse')

In [12]:
print(a[1:2])

('Borse',)

In [13]:
print(b,"\n")

('9166', 'TYBSC', 'B')

In [14]:
for j in a:
    print(j)

Bhushan
Borse
Male
Student

In [16]:
if "TYBSC" in b:
    print("Bhushan is in TYBSC")

Bhushan is in TYBSC

In [17]:
c=tuple("Pune")
a+b+c

('Bhushan',
 'Borse',
 'Male',
 'Student',
 '9166',
 'TYBSC',
 'B',
 'P',
 'u',
 'n',
 'e')